*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins', sans-serif;;
}

body , html{
    overflow-x: hidden; /*hidden scroll bar left-right*/
    background-color: whitesmoke;
}
/****** 

HOME PAGE

********/

/*nav bar*/
.logo {
    margin: -100px -55px 5px 23px;
    width: 100px;
    height:100px;
    border-radius: 5px;
    padding: 0;
    position: absolute;

}
.navbar ul{
    width: 100%;  
    height: 100px; 
    background-color:cadetblue; 
    padding: 19px;
    text-align: center;
    
    
}

.navbar {
    position: relative;
}

li {
    display: inline-block;
    padding: 20px 20px;
}

a{
    color: white;
    text-decoration: none;
}

/* top-container */

.top-container {
    margin-top: 60px;
    margin-bottom: 100px;
    text-align: center;
}

.top-container h1{
    font-size: 5vmin;
    margin-top:35px;
    margin-bottom: 25px;
}

.top-container h2{
    font-size:3vmin;
    font-style: italic;
}

/*pictures*/

.dogs{
    height: 400px;
    width: 380px;
    display: inline;
    margin-left: 60px;
    margin-right: auto;
}
#topics{
    padding: 80px;
    text-align: center;
}

.container{
    position:relative;
    width: 1200px;
    height: 300px;
    font-size: 12px;
    text-align: center;
    margin: 5px 200px;
}

.container .box{
    position: relative;
    width: calc(250px - 30px);
    height: calc(250px - 30px); 
    float: left;
    margin: 15px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
    background-color: white;
    display: block;
    margin-left: 95px;
    margin-right: auto;
    
}

.container .box .content{
    position: absolute;
    top: 0;
    left: 0;

}

.pics{
    height: 100px;
    width: 150px;
    margin: 10px 30px;
}

/* Footer */
footer { 
    height:120px; 
    background-color:cadetblue;
    text-align:center; 
    font-size: smaller;
    padding: 0%;
    margin: 0%;
    } 
    .footer {
        padding: 10px 10px;
        color: white;
        font-size: small;
    }

    


@media only screen and (max-width: 1200px) {
    body  {
    background-color:whitesmoke;
    font-size: 1.5rem;
    margin: auto;
    }

    .top-container {
        margin-top: 60px;
        margin-bottom: 100px;
        text-align: center;
    }
    
    .top-container h1{
        font-size: 5vmin;
        margin-top:35px;
        margin-bottom: 25px;
    }
    
    .top-container h2{
        font-size:3vmin;
        font-style: italic;
    }
    
    /*pictures*/
    
    .dogs{
        height: 300px;
        width: 300px;
        display: inline;
        
    }
    #topics{
        padding: 80px;
        text-align: center;
    }
    
    .container{
        position:relative;
        width: 1200px;
        height: 300px;
        font-size: 12px;
        text-align: center;
        
    }
    
    .container .box{
        position: relative;
        width: calc(250px - 30px);
        height: calc(250px - 30px); 
        float: left;
        margin: 15px;
        box-sizing: border-box;
        overflow: hidden;
        border-radius: 10px;
        background-color: white;
        display: block;
        
        
    }
    
    .container .box .content{
        position: absolute;
        top: 0;
        left: 0;
    
    }
    
    .pics{
        height: 100px;
        width: 150px;
        margin: 10px 30px;
    }

    .container .box .container{
        position: relative;
        margin: 50px auto;
        padding: 50px auto;
        flex-direction: row;
      }
    }

    /*ABOUT PAGE*/
 
.header-imgs {
    margin-top: .2em;
    margin-left: 10%;
    justify-content: center;
    align-items: stretch;
    display: inline-flex;
}
 
 
.abt_img {
    height: 294px;
    width: 310px;
    display: inline-flex;
    align-items:center;
    margin-top: 32px;
    margin-right: 2em;
}

.sanctuary img {
    height: 294px;
    width: 310px;
    display: inline-flex;
    align-items:center;
    margin: 32px -1.1px;
}

 
#title {
    text-align: center;
    font-size: 3em;
    margin-top: .5em;
    letter-spacing: .1em;
}
 
.history {
    display:inline-flex;
    width: 90%;
    height: 350px;
    margin-top: 2em;
    margin-left: 3.5em;
}

.sanctuary {
    display:inline-flex;
    width: 90%;
    height: 350px;
    margin-top: 2em;
    margin-left: 3.5em;
}
 
 
 .history p {
    width: 65%;
    height: auto;
    align-items: flex-end;
   
}

.sanctuary p {
    width: 65%;
    height: auto;
    align-items: flex-end;
    display: inline-flex;
    
    margin-left: 2em;

}
 
