*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins', sans-serif;;
}

body , html{
    overflow-x: hidden; /*hidden scroll bar left-right*/
    background-color: whitesmoke;
}

    /******

HOME PAGE

********/

/*nav bar*/
.logo {
    margin: 0;
    width: 100px;
    height: 100px;
    border-radius: 5px;
    padding: 0;
    position: absolute;

}

.navbar ul {
    width: 100%;
    height: 100px;
    background-color: cadetblue;
    padding: 19px;
    text-align: center;
}

li {
    display: inline-block;
    padding: 20px 20px;
}

a {
    color: white;
    text-decoration: none;
}


/* top-container */

.top-container {
    margin-top: 60px;
    margin-bottom: 100px;
    text-align: center;
}

.top-container h1 {
    font-size: 5vmin;
    margin-top: 35px;
    margin-bottom: 25px;
}

.top-container h2 {
    font-size: 3vmin;
    font-style: italic;
    text-align: center;
}

/*pictures*/

.dogs {
    height: 400px;
    width: 380px;
    /*display: inline;*/
    /* margin-left: 60px;*/
    /* margin-right: auto;*/
}

.row .col {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.row {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

#topics {
    padding: 80px;
    text-align: center;
}

.container {
    /* position: relative; */
    width: 1200px;
    height: 300px;
    font-size: 12px;
    text-align: center;
    /*margin: 5px 200px;*/
}

.container .box {
    /*position: relative;*/
    width: calc(250px - 30px);
    height: calc(250px - 30px);
    /* float: left;*/
    margin: 15px;
    box-sizing: border-box;
    /*overflow: hidden;*/
    border-radius: 10px;
    background-color: white;
    /*display: block;*/
    /*margin-left: 95px;*/
    /*margin-right: auto;*/

}

.row1 .col1 {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.row1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.container .box .content {
    /*position: absolute;*/
    top: 0;
    left: 0;

}

.pics {
    height: 100px;
    width: 150px;
    /*margin: 10px 30px;*/
}

/* Footer */
footer {
    position: relative;
    height: 120px;
    background-color: cadetblue;
    text-align: center;
    font-size: smaller;
    padding: 0%;
    margin: 0%;
}

/* Mobile Devices */

@media only screen and (min-width: 320px) and (max-width: 480px) {
    header nav {
        display: none;
    }

    .logo {
        margin: -88px 15px 13px;
        width: 60px;
        height: 60px;
        border-radius: 5px;
        padding: 0px;
        position: absolute;
    }

    ul .link-bar {
        padding: 0 0px;
        background-color: cadetblue;
        height: 50px;
        display: flex;
        justify-content: space-between;
    }

    ul li {
        padding: 300px;
        margin-left: 70px;
    }

    .navbar ul {
        width: 100%;
        height: 120px;
        background-color: cadetblue;
        padding: 14px;
        text-align: right;
    }

    .link-bar li {
        display: inline-block;
        padding: 10px 15px;
        text-size-adjust: 15px;
    }

    #topics {
        font-size: 50px;
    }

    .top-container {
        margin-top: 60px;
        margin-bottom: 90px;
        text-align: center;
    }

    .top-container h1 {
        font-size: 5vmin;
        margin-top: 35px;
        margin-bottom: 25px;
    }

    .top-container h2 {
        font-size: 4vmin;
        font-style: italic;
        text-align: center;
    }


    .row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .dogs {
        width: 280px;
        height: 280px;
    }

    .row1 {
        display: block;
        align-items: center;
    }

    .container {
        margin: 0 auto;
        align-items: center;
        padding-left: 75px;
    }

    footer {
        margin: 100% 0px 0px;
        padding: 0px;
    }

}

/* Ipad Size */

@media only screen and (min-width: 480px) and (max-width: 530px) {

    .logo {
        margin: -90px 5px 23px;
        width: 65px;
        height: 65px;
        border-radius: 5px;
        padding: 0;
        position: absolute;

    }

    ul li {
        padding: 5px;
        padding-right: 22px;

    }

    .navbar ul {
        width: 100%;
        height: 100px;
        background-color: cadetblue;
        padding: 20px;
        text-align: center;
    }

    li {
        display: inline-block;
        padding: 20px 15px;
    }

    #topics {
        font-size: 50px;
    }

    .top-container {
        margin-top: 60px;
        margin-bottom: 90px;
        text-align: center;
    }

    .top-container h1 {
        font-size: 7vmin;
        margin-top: 35px;
        margin-bottom: 25px;
    }

    .top-container h2 {
        font-size: 5vmin;
        font-style: italic;
        text-align: center;
    }

    /*pictures on top*/

    .row1 {
        /*display: block;*/
        align-items: center;
    }

    .dogs {
        height: 190px;
        width: 190px;
        display: inline;

    }

    .container {
        /* position: relative; */
        width: 680px;
        height: 600px;
        font-size: 12px;
        text-align: center;
        margin: 10px -100px;
        padding-left: 1000px;
        /*overflow: hidden;*/

    }

    .container .box {
        /*position: relative;*/
        width: calc(440px - 30px);
        height: calc(350px - 30px);
        /* float: left;*/
        margin: 0px;
        /*box-sizing: border-box;*/
        overflow: hidden;
        border-radius: 10px;
        background-color: white;
        /*display: block;
        /*align-items center;*/
        margin: 2px 0px;
        /*margin-right: auto;*/

    }

    .row1 .col1 {
        display: flex;
        flex-direction: column;
    }

    .row1 {
        display: flex;
        flex-direction: column;
        padding: 0px;
    }

    .container .box .content {
        /*position: absolute;*/
        top: 0;
        left: 0;

    }

    .pics {
        height: 100px;
        width: 150px;
        /*margin: 10px 30px;*/
    }

    footer {
        margin: 0% 0px 0px;
        padding: 0px;
    }
}

/* Small screens */

@media only screen and (min-width: 530px) and (max-width: 720px) {

    .logo {
        margin: -90px -55px 5px 23px;
        width: 80px;
        height: 80px;
        border-radius: 5px;
        padding: 0;
        position: absolute;

    }

    .navbar ul {
        width: 100%;
        height: 100px;
        background-color: cadetblue;
        padding: 20px;
        text-align: center;
    }

    li {
        display: inline-block;
        padding: 20px 15px;
    }

    #topics {
        font-size: 50px;
    }

    .top-container {
        margin-top: 60px;
        margin-bottom: 90px;
        text-align: center;
    }

    .top-container h1 {
        font-size: 7vmin;
        margin-top: 35px;
        margin-bottom: 25px;
    }

    .top-container h2 {
        font-size: 5vmin;
        font-style: italic;
        text-align: center;
    }

    /*pictures on top*/

    .row1 {
        /*display: block;*/
        align-items: center;
    }

    .dogs {
        height: 190px;
        width: 190px;
        display: inline;

    }

    .container {
        /* position: relative; */
        width: 590px;
        height: 700px;
        font-size: 12px;
        text-align: center;
        margin: 10px 0px;
        padding-left: 1000px;
        /*overflow: hidden;*/

    }

    .container .box {
        /*position: relative;*/
        width: calc(560px - 30px);
        height: calc(350px - 30px);
        /* float: left;*/
        margin: 0px;
        /*box-sizing: border-box;*/
        /*overflow: hidden;*/
        border-radius: 10px;
        background-color: white;
        /*display: block;
        /*align-items center;*/
        margin: 2px 0px;
        /*margin-right: auto;*/

    }

    .col1 p {
        text-overflow: unset;
    }

    .row1 .col1 {
        display: flex;
        flex-direction: column;
    }

    .row1 {
        display: flex;
        flex-direction: column;
        padding: 0px;
    }

    .container .box .content {
        /*position: absolute;*/
        top: 0;
        left: 0;

    }

    .pics {
        height: 100px;
        width: 150px;
        /*margin: 10px 30px;*/
    }

    footer {
        margin: 0% 0px 0px;
        padding: 0px;
    }
}


/*Small Laptops*/

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .logo {
        margin: -90px -55px 15px 23px;
        width: 80px;
        height: 80px;
        border-radius: 5px;
        padding: 0px;
        position: absolute;

    }

    .navbar ul {
        width: 100%;
        height: 100px;
        background-color: cadetblue;
        padding: 20px;
        text-align: center;
    }

    .link-bar li {
        display: inline-block;
        padding: 10px 15px;
        font-size: large;
    }

    .top-container {
        margin-top: 60px;
        margin-bottom: 90px;
        text-align: center;
    }

    .top-container h1 {
        font-size: 7vmin;
        margin-top: 35px;
        margin-bottom: 25px;
    }

    .top-container h2 {
        font-size: 5vmin;
        font-style: italic;
        text-align: center;
    }

    /*pictures on top*/

    .row1 {
        /*display: block;*/
        align-items: center;
    }

    .dogs {
        height: 280px;
        width: 280px;
        display: inline;

    }

    .container {
        /* position: relative; */
        width: 850px;
        height: 300px;
        font-size: 12px;
        text-align: center;
        align-items: center;
        /*margin: 10px 100px;*/
        padding: 10px;
        /*overflow: hidden;*/

    }

    .container .box {
        /*position: relative;*/
        width: calc(350px - 30px);
        height: calc(250px - 30px);
        /* float: left;*/
        margin: 0px;
        /*box-sizing: border-box;*/
        overflow: hidden;
        border-radius: 10px;
        background-color: white;
        /*display: block;*/
        align-items: center;
        margin: 10px 0px;
        margin-left: 45px;

    }

    .row1 .col1 {
        display: flex;
        flex-direction: column;
    }

    .row1 {
        display: flex;
        flex-direction: row;
        padding: 0px;
    }

    .container .box .content {
        /*position: absolute;*/
        top: 0;
        left: 0;

    }

    .pics {
        height: 100px;
        width: 150px;
        /*margin: 10px 30px;*/
    }

    footer {
        margin: 0% 0px 0px;
        padding: 0px;
    }
}


/* Desktops Large Screens*/

@media only screen and (min-width: 1025) and (max-width: 1200px) {

    .logo {
        margin: -88px 15px 13px;
        width: 60px;
        height: 60px;
        border-radius: 5px;
        padding: 0px;
        position: absolute;
    }

    ul .link-bar {
        padding: 0 0px;
        background-color: cadetblue;
        height: 50px;
        display: flex;
        justify-content: space-between;
    }

    ul li {
        padding: 300px;
        margin-left: 70px;
    }

    .navbar ul {
        width: 100%;
        height: 120px;
        background-color: cadetblue;
        padding: 14px;
        text-align: right;
    }

    .link-bar li {
        display: inline-block;
        padding: 10px 15px;
        text-size-adjust: 15px;
    }

    ***** .navbar {
        position: relative;
    }

    ul li {
        padding: 5px;
        padding-left: 32px;
    }

    .navbar ul {
        width: 100%;
        height: 100px;
        background-color: cadetblue;
        padding: 20px;
        text-align: center;
    }

    .top-container {
        margin-top: 60px;
        margin-bottom: 100px;
        text-align: center;
    }
    
     .top-container h1 {
        font-size: 7vmin;
        margin-top: 35px;
        margin-bottom: 25px;
    }

    .top-container h2 {
        font-size: 5vmin;
        font-style: italic;
    }
    
      /*pictures*/

    .dogs {
        height: 300px;
        width: 300px;
        /* display: inline; */
        
        }
        
         #topics {
        padding: 80px;
        text-align: center;
    }

    .container {
        /*position: relative;*/
        display: flex;
        flex-direction: row;
        width: 1200px;
        height: 300px;
        font-size: 12px;
        text-align: center;

    }
    
     .container .box {
        /*position: relative;*/
        width: calc(250px - 30px);
        height: calc(250px - 30px);
        /* float: left;*/
        margin: 15px;
        box-sizing: border-box;
        /* overflow: hidden;*/
        border-radius: 10px;
        background-color: white;
        /* display: block; */


    }


    .container .box .content {
        /* position: absolute;*/
        top: 0;
        left: 0;

    }

    .pics {
        height: 100px;
        width: 150px;
        margin: 10px 30px;
    }

    .container .box .container {
        /*position: relative;*/
        margin: 50px auto;
        padding: 50px auto;
        /* flex-direction: row;*/
    }
}

    /*ABOUT PAGE*/

    .header-imgs {
      margin-top: .2em;
      margin-left: 10%;
      justify-content: center;
      align-items: stretch;
      display: inline-flex;
  }
  
  
  .abt_img {
      height: 294px;
      width: 320px;
      display: inline-flex;
      align-items:center;
      margin-top: 32px;
      margin-right: 2em;
  }
  
  
  .sanctuary img {
      height: 150px; 
      width: auto; 
      display: inline-flex;
      align-items:center;
      margin: 32px -1.1px;
      margin-right: 9.8px;
      box-shadow: 5px 6px 20px #0000006d;
  }
  
  #title {
      text-align: center;
      font-size: 3em;
      margin-top: .5em;
      letter-spacing: .1em;
  }
  
  h2 {
      text-align: center;
      margin-top: 3em;
      margin-bottom: -1em;
      margin-left: 10em;
      letter-spacing: .05em;
  }
  
  .history {
      display:inline-flex;
      width: 90%;
      height: 350px;
      margin-top: 2em;
      margin-left: 3.5em;
  }
  
  .sanctuary {
      display:inline-flex;
      width: 90%;
      height: 350px;
      margin-top: 2em;
      margin-bottom: 2.5em;
      margin-left: 3.5em;
  }
  
  .sanctuarypic3 {
      height: 150px; 
      width: 200px; 
      display: inline-flex;
      align-items:center;
      margin-top: -100em;
      margin-bottom: 4em;
      margin-left: 3.45em;
      box-shadow: 5px 6px 20px #0000006d;
  }
  
  .sanctuarypic4 {
      height: 150px;
      width: auto; 
      display: inline-flex;
      align-items:center;
      margin-top: -100em;
      margin-bottom: 4em;
      margin-left: .05em;
      box-shadow: 5px 6px 20px #0000006d;
  }
  
   .history p {
      width: 65%;
      height: auto;
      align-items: flex-end;
      overflow: hidden;
      word-spacing: .025em;
     
  }
  
  .sanctuary p {
      width: 65%;
      height: auto;
      align-items: flex-end;
      display: inline-flex;
      margin-left: 2em;
      margin-bottom: 2em;
      overflow: hidden;
      justify-content: center;
      word-spacing: .05em;
  }

  /***END OF ABOUT PAGE***/

#banner img {
    width: 100%;
    height: 2%;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:white;
    font-weight: 900px;
    font-size: 100px;
    text-shadow: -5px 5px 0 #000,
    5px 5px 0 #000,
   5px -5px 0 #000,
  -5px -5px 0 #000;
  }
#spacearound h2 {
    width: 100%;
    margin: 10px -15px;
    text-align: center;
}
/*.contact h2{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 1.25%;
    font-weight: bolder;
    font-size: 40px;
} */
.contact a:hover {
    color: red;
}
.space {
    height: 185px;
    width: 100%;
    display: flex;
    background-color: whitesmoke;
  }
  .box {
    height: 200x;
    width: 300px;
    background-color:rgb(255, 255, 255);
    border: 1px solid lightgrey;
    display: inline-block;
    padding-left: 10px;
    margin: 15px 0px;
    box-shadow: 2px 2px #777;
  }
  .box h2{
    text-decoration: underline;
  }
  .box p{
    text-align: center;
    margin: 5px 2px;
    font-weight: 50px;
  }
  .box a{
    color: black;
  }
  .box:hover {
    border-bottom: 5px solid maroon;
  }
  #spacearound a{
    display:inline-block;
    padding: 5px 10px;
  }
  #spacearound {
    justify-content: space-around;
    margin: 0px 0px 30px 0px;
  }
  #spacearound h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    font-size: 27px;
  }

/* FORM PAGE*/
#form-page {
    overflow-x:visible;
}

.form {
    padding: 30px;
    border: cadetblue 10px;
    border-style: solid;
    border-radius: 5%;
    background-color: white;
  }

  .form-control {
    padding: 40px;
    position: relative;
  }

  .form-control label {
    display: block;
    margin-bottom: 3px;
    margin-top: 15px;
  }

  .form-control input {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 14px;
    margin-bottom: 10px;
  }

  .form-control input:focus {
    outline: 0;
    border-color: #777;
  }

  .form-control.success input {
    border-color: var(--success-color);
  }

  .form-control.error input {
    border-color: var(--error-color);
  }

  .form-control small {
    color: var(--error-color);
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
  }

  .form-control.error small {
    visibility: visible;
  }

  .form button {
    cursor: pointer;
    background-color: cadetblue;
    border: 2px solid black;
    border-radius: 4px;
    color: #fff;
    display: block;
    font-size: 16px;
    padding: 10px;
    margin-top: 20px;
    width: 100%;
  }
  .form-control select {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 14px;
    margin-bottom: 10px;
  }

  .form-control select:focus {
    outline: 0;
    border-color: #777;
  }

  .form-control.success select {
    border-color: var(--success-color);
  }

  .form-control.error select {
    border-color: var(--error-color);
  }
#form-footer {
    display: block;
    margin-top:450px
}
.form-images {
 display:inline-block;

}

